* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
.header {
    text-align: center;
    padding: 10px;
    position:fixed;
    width:100%;
    border-bottom: 1px solid #000000;
    background-color:#ffffff;
    z-index: 100;
    -webkit-box-shadow: 0 10px 5px #888888;
    -moz-box-shadow: 0 10px 5px #888888;
    box-shadow: 0 10px 5px #888888;
}
#messages {
    list-style-type: none;
    margin:0;
    padding: 0;
    position: absolute;
    top:45px;
    z-index: 0;
}
#messages li {
    display: inline-flex;
    width: 100%;
}
#messages li p {
    font-weight: 400;
}
#messages li:nth-child(odd) {
    background: #eee;
}
